<div class="container-fluid">
  <div class="white-box text-center">
    <div id="pomodoro-time" class="pomodoro-time">
      <%= seconds_to_timer_str(@pomodoro.remaining_seconds) %>
    </div>

    <% if @pomodoro.status == Pomodoro::Status::INITIAL %>
      <%= button_to({controller: "pomodoros", action: "create"},
        {method: :post, class: "fcbtn btn btn-success btn-outline btn-1e pomodoro-action"}) do %>
        Start
      <% end %>
    <% else %>
      <% if @pomodoro.id %>
        <% if @pomodoro.status == Pomodoro::Status::PAUSED %>
          <%= button_to({controller: "pomodoros", action: "stop", id: @pomodoro.id},
              {method: :post, form_class: "pomodoro-action-form", class: "fcbtn btn btn-danger btn-outline btn-1e pomodoro-action"}) do %>
            Stop
          <% end %>

          <%= button_to({controller: "pomodoros", action: "resume", id: @pomodoro.id},
              {method: :post, form_class: "pomodoro-action-form", class: "fcbtn btn btn-primary btn-outline btn-1e pomodoro-action"}) do %>
            Resume
          <% end %>
        <% end %>

        <% if @pomodoro.status == Pomodoro::Status::RUNNING %>
          <%= button_to({controller: "pomodoros", action: "pause", id: @pomodoro.id},
              {method: :post, class: "fcbtn btn btn-warning btn-outline btn-1e pomodoro-action"}) do %>
            Pause
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <div class="white-box">
    <% if @pomodoros.count > 0 %>
      <div class="row">
        <div class="col-md-12">
          <div class="paginate pull-right">
            <%= paginate @pomodoros %>
          </div>
          <h4 class="box-title"> My Pomodoros </h4>
        </div>
      </div>
      <div class="table-responsive">
        <table class="tablesaw table-striped table-bordered table">
          <thead>
            <tr>
              <th>Id</th>
              <th>Start</th>
              <th>End</th>
              <th>Time Since Start</th>
              <th>Pause Count</th>
              <th>Status</th>
              <% if current_user.admin? %>
                <th></th>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <% @pomodoros.each do |p| %>
              <tr>
                <td> <%= p.id %> </td>
                <td class="datetime-field"><%= p.start_time %></td>
                <td class="datetime-field"><%= p.end_time %></td>
                <td><%= seconds_to_timer_str(p.passed_seconds) %></td>
                <td><%= p.pauses_count %></td>
                <td><%= p.status %></td>
                <% if current_user.admin? %>
                  <td>
                    <%= button_to 'Destroy', pomodoro_path(p), :method => :delete, :class => 'btn btn-xs btn-danger' %>
                  </td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
        <div class="paginate pull-right">
          <%= paginate @pomodoros %>
        </div>
      </div>
    <% else %>
      <span>No Pomodoros</span>
    <% end %>
  </div>
</div>

<% if @pomodoro.status == Pomodoro::Status::RUNNING %>
  <%= javascript_tag do %>
    window.startCountdown(<%= @pomodoro.remaining_seconds %>);
  <% end %>
<% end %>

<%= javascript_tag do %>
  window.audioPath        = "<%= audio_path('time-to-stop.mp3') %>";
<% end %>
