<div class="container-fluid">

  <%= form_for @user, :as => @user, :url => user_path(@user), :html => {:method => :patch} do |f| %>

  <div class="row">
    <div class="col-md-12">
      <div class="white-box">
        <h2> <%= @user.first_name %> <%= @user.last_name %> </h2>

        <div class="dropify-wrapper has-preview">
          <%= f.file_field :avatar, class:'dropify' %>

          <div class="dropify-preview" style="display: block;">
            <span class="dropify-render">
              <img src="https://www.rd.com/wp-content/uploads/2018/02/19_Adorable-Puppy-Pictures-that-Will-Make-You-Melt_391191067_chris_tina-760x506.jpg">
            </span>
            <div class="dropify-infos">
              <div class="dropify-infos-inner">
                <p class="dropify-filename">
                  <span class="dropify-filename-inner">
                    <i class="fa fa-cloud-upload"></i>
                  </span>
                </p>
              </div>
            </div>
          </div>
        </div>

        <!-- <%= f.file_field :avatar, class:'dropify avatar-upload' %> -->

        <div class="field">
          <%= f.label :email %>
          <%= f.text_field :email, id: :user_email %>
        </div>

        <div class="field">
          <%= f.label :first_name %>
          <%= f.text_field :first_name, id: :user_first_name %>
        </div>

        <div class="field">
          <%= f.label :last_name %>
          <%= f.text_field :last_name, id: :user_last_name %>
        </div>

        <% if current_user.admin? %>
        <div class="field">
          <%= f.label :admin %>
          <%= f.check_box :admin %>
        </div>
        <% end %>

        <p><%= f.submit "Submit" %></p>
        <%= link_to 'Back', users_path %>
      </div>
    </div>
  </div>

  <% end %>
</div>
