<div class="container-fluid">
  <div class="white-box">
    <div class="row">
      <div class="col-sm-6">
        <h4 class="box-title">Users</h4>
      </div>
      <div class="col-sm-6">
        <%= link_to new_user_path, class:"btn btn-success pull-right m-t-10 font-20 round-button-small" do %>
          +
        <% end %>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Status</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td>
                <%= user.id %>
              </td>
              <td>
                <%= link_to user, class:"text-link" do %>
                  <%= user.first_name %> <%= user.last_name %>  </td>
                <% end %>
              <td> <%= user.email %>  </td>
              <td>
                <% if user.admin?  %>
                <span class="label label-info">Admin</span>
                <% end %>

                <% if user.invitation_accepted_at.present?  %>
                  <span class="label label-success">Accepted</span>
                <% else %>
                  <span class="label label-warning">Invited</span>
                <% end %>
              </td>
              <td>
                <%= link_to user, method: :delete, data: { confirm: 'Are you sure?' } do %>
                  <i class="fa fa-trash"></i>
                <% end %>
                <%= link_to edit_user_path(user) do %>
                  <i class="fa fa-pencil"></i>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <p id="notice"><%= notice %></p>
</div>
