<section id="wrapper" class="login-register">
  <div class="login-box">
    <div class="white-box">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: "form-horizontal", id: "recoverform" }) do |f| %>
        <%= devise_error_messages! %>
        <%= f.hidden_field :reset_password_token %>
        <div class="form-group ">
          <div class="col-xs-12">
            <h3>Change Password</h3>
            <p class="text-muted">Please choose a new password below </p>
          </div>
        </div>
        <div class="form-group ">
          <div class="col-xs-12">
            <%= f.password_field :password, autofocus: true, autocomplete: "off", placeholder: "New Password", class: "form-control" %>
            <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirm Password", class: "form-control" %>
          </div>
        </div>
        <div class="form-group text-center m-t-20">
          <div class="col-xs-12">
            <button class="btn btn-primary btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Change My Password</button>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
