<aside class="sidebar" role="navigation">
  <div class="scroll-sidebar">
    <div class="user-profile">
      <div class="dropdown user-pro-body">
        <div class="profile-image">
          <% if current_user.avatar? %>
            <%= image_tag current_user.avatar_url, class: "img-circle" %>
          <% else %>
            <%= image_tag "avatar-placeholder.png", class: "img-circle" %>
          <% end %>
        </div>

        <p class="profile-text m-t-15 font-16">
          <%= link_to edit_user_path(current_user) do %>
            <%= current_user.first_name %> <%= current_user.last_name %>
          <% end %>
        </p>
      </div>
    </div>
    <nav class="sidebar-nav">
      <ul id="side-menu">
        <li>
          <%= active_link_to('/', class:"waves-effect", active: [['profile'], []]) do %>
            <i class="icon-screen-desktop fa-fw"></i>
            <span> Dashboard </span>
          <% end %>
        </li>
        <li>
          <%= active_link_to(achievements_path, class:"waves-effect") do %>
            <i class="icon-star fa-fw"></i>
            <span> Available Achievements </span>
          <% end %>
        </li>
        <li>
          <%= active_link_to(user_achievements_path, class:"waves-effect") do %>
            <i class="icon-trophy fa-fw"></i>
            <span> Achievements Earned </span>
          <% end %>
        </li>
        <li>
          <%= active_link_to(users_path, class:"waves-effect") do %>
            <i class="icon-people fa-fw"></i>
            <span> My Team </span>
          <% end %>
        </li>
        <li>
          <%= active_link_to(pomodoros_path, class:"waves-effect") do %>
            <i class="icon-clock fa-fw"></i>
            <span> Pomodoros </span>
          <% end %>
        </li>


        <% if current_user.admin? %>
          <li class="sidebar__separator"></li>

          <li>
            <%= active_link_to(users_path, class:"waves-effect") do %>
              <i class="icon-shield fa-fw"></i>
              <span> User Management </span>
            <% end %>
          </li>
        <% end %>
      </ul>
    </nav>
  </div>
</aside>
