<aside class="sidebar" role="navigation">
  <div class="scroll-sidebar">
    <div class="user-profile">
      <div class="dropdown user-pro-body">
        <div class="profile-image">
          <% if current_user.avatar? %>
            <%= image_tag current_user.avatar_url, class: "img-circle" %>
          <% else %>
            <%= image_tag "avatar-placeholder.png", class: "img-circle" %>
          <% end %>
        </div>
        <p class="profile-text m-t-15 font-16"><a href="javascript:void(0);"> <%= current_user.first_name %> <%= current_user.last_name %> </a></p>
      </div>
    </div>
    <nav class="sidebar-nav">
      <ul id="side-menu">
        <li>
          <%= active_link_to('/', class:"waves-effect", active: [['profile'], []]) do %>
            <i class="icon-screen-desktop fa-fw"></i>
            <span> Dashboard </span>
          <% end %>
        </li>
        <li>
          <%= active_link_to(achievements_path, class:"waves-effect") do %>
            <i class="icon-trophy fa-fw"></i>
            <span> Achievements </span>
          <% end %>
        </li>
        <li>
          <%= active_link_to(users_path, class:"waves-effect") do %>
            <i class="icon-people fa-fw"></i>
            <span> Users </span>
          <% end %>
        </li>
      </ul>
    </nav>
  </div>
</aside>
