<%= form_with(model: sprint, local: true, class: "form-horizontal") do |f| %>
  <% if sprint.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sprint.errors.count, "error") %> prohibited this sprint from being saved:</h2>

      <ul>
      <% sprint.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :user, class: "col-sm-3 control-label" %>
    <div class="col-md-9">
      <%= select("sprint", "user_id", current_user.team.users.collect {|u| [ u.full_name, u.id ] }, { include_blank: true }) %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :start_date, class: "col-sm-3 control-label" %>
    <div class="col-md-9">
      <%= f.date_field :start_date, id: :sprint_start_date, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :end_date, class: "col-sm-3 control-label" %>
    <div class="col-md-9">
      <%= f.date_field :end_date, id: :sprint_end_date, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :expected_score, class: "col-sm-3 control-label" %>
    <div class="col-md-9">
      <%= f.number_field :expected_score, id: :sprint_expected_score, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :actual_score, class: "col-sm-3 control-label" %>
    <div class="col-md-9">
      <%= f.number_field :actual_score, id: :sprint_actual_score, class: "form-control" %>
    </div>
  </div>

  <div class="form-group m-b-0">
    <div class="col-sm-offset-3 col-sm-9">
      <button type="submit" class="btn btn-info waves-effect waves-light m-t-10">Submit</button>
    </div>
  </div>

<% end %>
