<div class="container-fluid">
  <div class="white-box">
    <div class="row">
      <div class="col-md-12">
        <div class="paginate pull-right">
          <%= paginate @earned_achievements %>
        </div>
        <h4 class="box-title"> My Achievements </h4>
        <% if show_name_in_title %>
          <h5 class="text-muted"><%= @user.first_name %> <%= @user.last_name %></h5>
        <% end %>
      </div>
    </div>
    <table class="tablesaw table-striped table-bordered table" id="my-achievements-table">
      <thead>
        <tr>
          <th>Points</th>
          <th>Achievement</th>
          <th>Date Achieved</th>
        </tr>
      </thead>
      <tbody>
        <% @earned_achievements.each do |a| %>
          <tr>
            <td class="text-center">
              <% if a.achievement.points > 0  %>
                <span class="label label-success"> <%= a.achievement.points %> </span>
              <% else %>
                <span class="label label-danger"> <%= a.achievement.points %> </span>
              <% end %>
             </td>
            <td> <%= a.achievement.title %> </td>
            <td class="datetime-field"> <%= a.date_achieved_formatted %> </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="row p-r-15">
      <div class="paginate pull-right">
        <%= paginate @earned_achievements %>
      </div>
    </div>
  </div>
</div>
