<%= form_with(model: achievement, local: true, class: "form-horizontal") do |f| %>
  <% if achievement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(achievement.errors.count, "error") %> prohibited this achievement from being saved:</h2>

      <ul>
      <% achievement.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title, class: "col-sm-3 control-label" %>
    <div class="col-md-9">
      <%= f.text_field :title, id: :achievement_title, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :description, class: "col-sm-3 control-label" %>
    <div class="col-md-9">
      <%= f.text_field :description, id: :achievement_description, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :points, class: "col-sm-3 control-label" %>
    <div class="col-md-9">
      <%= f.number_field :points, id: :achievement_points, class: "form-control" %>
    </div>
  </div>

  <% if current_user.admin? %>
    <div class="form-group">
      <%= f.label :team, class: "col-sm-3 control-label" %>
      <div class="col-md-9">
          <%= f.select :team_id, options_for_teams, {prompt: true}, class: "form-control" %>
      </div>
    </div>
  <% else %>
    <%= f.hidden_field :team_id, :value => current_user.team.id %>
  <% end %>

  <div class="form-group m-b-0">
    <div class="col-sm-offset-3 col-sm-9">
      <button type="submit" class="btn btn-info waves-effect waves-light m-t-10">Submit</button>
    </div>
  </div>

<% end %>
