<div class="container-fluid">
  <div class="row colorbox-group-widget">
    <div class="col-md-4 col-sm-6 info-color-box">
      <div class="white-box">
        <div class="media bg-primary">
          <div class="media-body">
            <h3 class="info-count"> <%= @user.total_points %> <span class="pull-right"><i class="fa fa-trophy"></i></span></h3>
            <p class="info-text font-12">Total Points</p>
            <p class="info-ot font-15">Achievements<span class="label label-rounded"> <%= @user.earned_achievements.count %> </span></p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 info-color-box">
      <div class="white-box">
        <div class="media bg-success">
          <div class="media-body">
            <h3 class="info-count">135 <span class="pull-right"><i class="fa fa-star"></i></span></h3>
            <p class="info-text font-12">Points this week</p>
            <p class="info-ot font-15">Last week<span class="label label-rounded">180</span></p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 info-color-box">
      <div class="white-box">
        <div class="media bg-danger">
          <div class="media-body">
            <h3 class="info-count">12 <span class="pull-right"><i class="fa fa-clock-o"></i></span></h3>
            <p class="info-text font-12">Pomodoros This week</p>
            <p class="info-ot font-15">Last Week<span class="label label-rounded">16</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="white-box">
        <div class="task-widget2">
          <div class="task-image">
            <%= image_tag "achievements-header-bg.jpg", class:"img-responsive" %>
            <div class="task-image-overlay"></div>
            <div class="task-detail">
              <h2 class="font-light text-white m-b-0" id="today-date"> <%= Time.now.rfc2822 %> </h2>
              <h4 class="font-normal text-white m-t-5">Achievements Earned This Week</h4>
            </div>
          </div>

          <div class="activity-widget" style="padding:25px;">
            <div class="steamline">
              <% @user_achievements.each do |ua| %>
                <div class="sl-item">
                  <div class="sl-left">
                    <% if ua.achievement.points > 0 %>
                      <div class="bg-success">
                        <%= ua.achievement.points %>
                      </div>
                    <% else %>
                      <div class="bg-danger">
                        <%= ua.achievement.points %>
                      </div>
                    <% end %>
                  </div>
                  <div class="sl-right">
                    <div> <%= ua.achievement.description %> </div>
                    <p class="time-ago">
                      <% if ua.date_achieved? %>
                        <%= ua.date_achieved.rfc2822 %>
                      <% else  %>
                        <%= ua.created_at.rfc2822 %>
                      <% end  %>
                    </p>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
